/* Sidebar.css */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 15px 20px;
  background-color: #1f2b3a;
  height: 60px;
  box-sizing: border-box;
}

.toggle-icon {
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  margin-right: 12px;
}

.admin-text {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
}
